# Base URL of the Backend OLOG service. API calls will be made
# relative to this service URL.
VITE_APP_BASE_URL=http://localhost:8080/Olog

VITE_REACT_APP_USE_KEYCLOAK=true
VITE_AUTH_CLIENT_ID=camunda
VITE_AUTH_ENDPOINT=https://idp-test.app.infn.it/auth/realms/aai/protocol/openid-connect/auth
VITE_AUTH_ENDPOINT_LOGOUT=https://idp-test.app.infn.it/auth/realms/aai/protocol/openid-connect/logout
VITE_AUTH_ENDPOINT_TOKEN=https://idp-test.app.infn.it/auth/realms/aai/protocol/openid-connect/token
VITE_AUTH_ENDPOINT_REDIRECT_URI=http://localhost:3000/
VITE_AUTH_SCOPE=openid
